################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/instagram/.gitignore
/instagram/appsettings.json
